# [submodule "themes/uBlogger"]
# 	path = themes/uBlogger
# 	url = git@github.com:uPagge/uBlogger.git
# [submodule "hugo-developer-portfolio"]
# 	path = themes/hugo-developer-portfolio
# 	url = git@github.com/samrobbins85/hugo-developer-portfolio
# [submodule "themes/LoveIt"]
# 	path = themes/LoveIt
# 	url = https://github.com/dillonzq/LoveIt.git
# [submodule "themes/toha"]
# 	path = themes/toha
# 	url = https://github.com/hugo-toha/toha.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
